xml/validator.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="User">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Shoes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Product" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="shoe_name"/>
                    <xs:element type="xs:short" name="price"/>
                    <xs:element type="xs:byte" name="Quantity"/>
                    <xs:element type="xs:string" name="shoe_photo"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="ProductID" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="Name"/>
    </xs:complexType>
  </xs:element>
</xs:schema>